<footer class="footer-10">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="contact-box">
            <div class="icon">
              <span class="fas fa-phone"></span>
            </div>
            <div class="text">
              <span>048 2222170</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-box">
            <div class="icon">
              <span class="fas fa-envelope"></span>
            </div>
            <div class="text">
              <span>info@menofia.edu.eg</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-box">
            <div class="icon">
              <span class="fas fa-map-marker"></span>
            </div>
            <div class="text">
              <span>جامعة المنوفية - شبين الكوم</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 pt-2 border-top">
        <div class="col-md-6 col-lg-8">
          <p class="copyright mb-0">
            <script>document.write(new Date().getFullYear());</script> جميع الحقوق محفوظة © 2023 - جامعة المنوفية  <i class="ion-ios-heart" aria-hidden="true"></i>  <a href="#" target="_blank"></a>
          </p>
        </div>
        <div class="col-md-6 col-lg-4 text-md-right">
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="https://www.youtube.com/watch?v=jO2aZuPUBRY" data-toggle="tooltip" data-placement="top" title="تعريف بالكلية"><span class="fab fa-youtube"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com/mufai.edu" data-toggle="tooltip" data-placement="top" title="صفحة الكلية"><span class="fab fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="https://www.google.com/maps/place/%D9%83%D9%84%D9%8A%D8%A9+%D8%A7%D9%84%D8%B0%D9%83%D8%A7%D8%A1+%D8%A7%D9%84%D8%A7%D8%B5%D8%B7%D9%86%D8%A7%D8%B9%D9%8A+%D8%AC%D8%A7%D9%85%D8%B9%D8%A9+%D8%A7%D9%84%D9%85%D9%86%D9%88%D9%81%D9%8A%D8%A9%E2%80%AD/@30.5755587,31.0081328,15z/data=!4m6!3m5!1s0x14f7d78ad00386ef:0xda0cac26ecbe9b27!8m2!3d30.5755587!4d31.0081328!16s%2Fg%2F11rxvqpb_9?entry=tts&shorturl=1" data-toggle="tooltip" data-placement="top" title="موقع الكلية"><span class="fas fa-map-marker"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>