<!-- <footer class="footer">
    <div class="footer-column">
        <img src="assets/images/logo.jpg" alt="Logo" />
        <h1>تواصل معنا</h1>
        <div class="social-icons">
            <a href="#"><i class="pi pi-facebook"></i></a>
            <a href="#"><i class="pi pi-twitter"></i></a>
            <a href="#"><i class="pi pi-instagram"></i></a>
        </div>
    </div>

    <div *ngFor="let column of footerData" class="footer-column">
        <h2>{{ column.title }}</h2>
        <ul>
            <li *ngFor="let item of column.items">
                <a [href]="item.link">{{ item.label }}</a>
            </li>
        </ul>
    </div>
</footer> -->
