<header>
  <div class="menu">
    <button pButton class="menu-button" type="button" aria-label="Toggle Menu">
      <i class="pi pi-bars"></i>&nbsp;القائمة
    </button>
  </div>

  <nav class="nav">

    <ng-container *ngFor="let menuItem of menuItems">
      <div class="mega-dropdown">
        <span class="keyword" (click)="navigateTo(menuItem.label)">{{ menuItem.label }}</span>
        <div class="mega-dropdown-content">
          <ng-container *ngFor="let column of menuItem.columns">
            <div class="mega-column">
              <h2>{{ column.label }}</h2>
              <p-divider></p-divider>

              <ng-container *ngFor="let subsubitem of column.subsubitems">
                <div class="subsubitem">
                  <a [routerLink]="isExternalLink(subsubitem) ? null : subsubitem.link" [href]="isExternalLink(subsubitem) ? subsubitem.link : null" target="_blank" rel="noopener noreferrer">
                    <i *ngIf="subsubitem.icon" [ngClass]="subsubitem.icon"></i>
                    <i *ngIf="subsubitem.subsubitems" class="pi pi-fw pi-arrow-circle-left"></i>
                    <span>{{ subsubitem.label }}</span>
                    <i *ngIf="subsubitem.subsubitems" class="pi pi-caret-down"></i>
                  </a>
                  <div *ngIf="subsubitem.subsubitems && subsubitem.subsubitems.length > 0" class="subsubitem-container">
                    <i class="fas fa-chevron-down"></i>
                    <ng-container *ngFor="let subsubsubitem of subsubitem.subsubitems">
                      <a [routerLink]="subsubsubitem.link" >
                        <i *ngIf="subsubsubitem.icon" [ngClass]="subsubsubitem.icon"></i>
                        {{ subsubsubitem.label }}
                      </a>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

  </nav>
</header>
