<header>
  <div class="menu">
    <button pButton class="menu-button" type="button" (click)="toggleMenu()" aria-label="Toggle Menu">
      <i class="pi pi-bars"></i>&nbsp;القائمة
    </button>
  </div>

  <nav class="nav">
    <ng-container *ngFor="let menuItem of menuItems">
      <div class="mega-dropdown">
        <span class="keyword">{{ menuItem.label }}</span>
        <div class="mega-dropdown-content">  
          <ng-container *ngFor="let column of menuItem.columns">
            <div class="mega-column">
              <h2>{{ column.label }}</h2>
              <p-divider></p-divider>
              <ng-container *ngFor="let subsubitem of column.subsubitems">
                <div class="subsubitem"
                    (mouseenter)="toggleSubsubitems(subsubitem.label, subsubitem)"
                    (mouseleave)="toggleSubsubitems(subsubitem.label, subsubitem)">
                  <a [routerLink]="subsubitem.link">&nbsp;{{ subsubitem.label }}</a>
                </div>

                <div *ngIf="subsubitem.subsubitems && subsubitem.subsubitems.length > 0" class="subsubitem-container" [ngClass]="{'active': isSubsubitemActive(subsubitem.label)}">
                  <ng-container *ngFor="let subsubsubitem of subsubitem.subsubitems">
                    <a [routerLink]="subsubsubitem.link">&nbsp;{{ subsubsubitem.label }}</a>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </nav>
</header>