*{
    direction: rtl;
}

body{
    font-family: "Roboto Mono", monospace;
}

header {
    padding: 10px 20px;
    position: fixed;
    background-color: whitesmoke;
    left: 0;
    right: 0;
    top: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0px;
}

.nav a {
    color: #000;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

.keyword {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.nav a i {
    margin-right: 5px;
    font-size: 20px;
}

.center-content {
    display: flex;
    align-items: center;
    margin: 0 160px;
}

.logo img {
    max-width: 100%;
    opacity: 100%;
    margin-top: 5px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.logo-text span {
    margin: 0 5px;
}

.mega-dropdown {
    position: relative;
    display: inline-block;
    direction: rtl;
    cursor: pointer;
}

.mega-dropdown-content,
.subsubitem-container {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 100%;
    border-radius: 4px;
    flex-direction: row;
    color: black;
    margin-top: 5px;
    background-color: rgba(245, 245, 245, 0.93);
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: none;
}

.subsubitem:hover .subsubitem-container {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.mega-column {
    flex: 1;
    padding: 20px;
    width: 320px;
}

.mega-column h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.mega-column a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    direction: rtl;
    margin: 15px auto;
    font-weight: 600;
}

.mega-column a:hover {
    color: darkblue;
}

.subsubitem-container {
    position: relative;
    top: 0;
    min-width: 150px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: transparent;
    margin: 0;
    a{
        font-size: 1rem;
    }
}



.mega-dropdown:hover .mega-dropdown-content {
    display: flex;
    direction: rtl;
}

.mega-dropdown:hover .mega-column {
    display: block;
    direction: rtl;
}

.subsubitem:hover + .subsubitem-container {
    display: block;
}


.slide-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}

.slide-nav.show {
    display: flex;
}

.slide-nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.menu,
.arrow {
    display: none;
}


