*{
  direction: rtl;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  // background-color: #00b32446;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-container {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1350px;
  padding: 0 20px;
  margin-top: 300px;
}

.login-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.358);
  box-shadow: 0 2px 4px rgba(0, 128, 0, 0.6);
  max-width: 400px;
  flex: 1;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 11%;
  i{
    margin-left: 5px;
  }
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 65%;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  i {
    margin-right: 5px;
  }
}

button:hover {
  background: #0056b3;
}

.photo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
  margin-right: 20px;
}

.logo-container img {
  max-height: 100px;
}