<div class="navbar-top"> <!-- [class.fixed]="isFixed" -->
<div class="left-section">

    <p-selectButton
      [options]="languageOptions"
      [(ngModel)]="selectedLanguages"
      optionLabel="label"
      optionValue="value"
      class="Lang"
      >
    </p-selectButton>

    <div class="logo">
      <div>
        <a>
          <img src="../../assets/images/egypt.png" alt="" class="logo">
        </a>
      </div>
    </div>
  </div>

  <div class="medium-section">
    <div class="left-logo"></div>
    <div class="dynamic-text">
      {{ dynamicText }}
    </div>
    <div class="right-logo"></div>
  </div>

  <div class="right-section">
    <div class="login-field">
      <p-button class="login" routerLink="login" label="تسجيل الدخول" [rounded]="true" ></p-button>
    </div>
    <div class="search-field">
      <div class="search">
        <form>
          <div class="p-inputgroup">
            <button type="submit" pButton aria-label="Search" class="bu-searsh">
              <i  class="pi pi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>