@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Aref+Ruqaa&family=Montserrat:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono&display=swap');

body{
  font-family: "Roboto Mono", monospace;
}

.navbar-top {
  padding: 10px 20px;
  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.left-section,
.right-section,
.medium-section {
  display: flex;
  align-items: center;
}

.login-field,
.search-field,
.phone-icon {
  margin: auto 5px;
}

.logo {
  display: flex;
  border-radius: 10px;
}

.logo img {
  width: 60px;
  margin: 5px;
}

.languages {
  display: flex;
  align-items: center;
}

.languages span {
  margin: 5px;
}

.delimiter {
  height: 30px;
  width: 1px;
  background-color: #000000;
  margin: 5px;
}

.phone-icon i {
  font-size: 36px;
}

.left-logo, .right-logo {
height: 80px;
margin: auto 5px;
align-items: center;
background-repeat: no-repeat;
}

.left-logo {
width: 200px;
background-image: url('/assets/images/logo.png');
background-position: center;
background-size: cover;
position: absolute;
left: 350px;
margin-right: 0;
}

.right-logo {
width: 150px;
background-image: url('/assets/images/vision.gif');
background-size: cover;
position: absolute;
right: 300px;
margin-left: 0;
}

.medium-section {
width: 450px;
}

.dynamic-text {
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
  font-family: 'Almarai', sans-serif;
  width: 100%;
  margin: 5px auto;
  animation: 0.5 forwards;
}


.bu-searsh{
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 15px;
}
