<div class="navbar-top">
  <div class="left-section">

    <p-selectButton
      [options]="languageOptions"
      [(ngModel)]="selectedLanguages"
      optionLabel="label"
      optionValue="value"
      [multiple]="true">
    </p-selectButton>

  </div>



  <div class="right-section">

    <div class="login-field">
      <p-button  routerLink="login" label="تسجيل الدخول" ></p-button>
    </div>
    <div class="search-field">
      <div class="search">
        <form>
          <div class="p-inputgroup">
            <button type="submit" pButton aria-label="Search">
              <i class="pi pi-search" style="font-size: 1rem"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- <div class="phone-icon">
      <i class="pi pi-fw pi-mobile"></i>
    </div> -->
  </div>
  <div class="left-logo"></div>
</div>
