<div class="vision-container">
    <div class="image-container">
      <img src="assets/images/vision.gif" alt="Vision GiF">
    </div>
    <div class="text-container">
    <p>
        التزام مصر بالتنمية المستدامة يظهر من خلال استراتيجيات شاملة وخطط بدأت في عام 2007، بدءًا من الخطة الخمسية وتمتد إلى الخطط السنوية للوزارات والخطط القطاعية الوطنية، وخطط البيئة على مستوى المحافظات،
        وتمثل رؤية التنمية المستدامة لعام 2030 ذروة لهذه الجهود، متسقة مع أهداف التنمية المستدامة العالمية،
        وتتضمن الأهداف الرئيسية القضاء على الفقر، وضمان الأمان الغذائي، وتعزيز الصحة الجيدة والرفاهية، وتوفير التعليم ذو الجودة.
    </p>
    <p>
        وتتطلع جامعة المنوفية أن تكون من الجامعت الرائدة على المستويين المحلى والدولى فى تقديم الخدمات التعليمية والبحثية والمجتمعية الموجهة بأهداف التنمية المستدامة،
        وقد حققت جامعة المنوفية إنجازًا جديدًا بالتصنيفات الدولية، طبقاً لتصنيف تايمز الدولي لتصنيف الجامعات الناشئة (عمرها أقل من 50 عاما لعام 2022 ) Times Higher Education Young University Rankings 2022، حيث ظهرت جامعة المنوفية ضمن شريحة أفضل 350-400 جامعة على مستوى العالم،
        ويمكن الاطلاع عل ما تقوم به الجامعة لتحقيق كل هدف من خلال الآتي:
    </p>
    </div>
</div>
  
<div class="sdg-container">
    <div *ngFor="let goal of sdgData" class="sdg-card" (click)="openLink(goal.link)">
      <img [src]="goal.imageUrl" alt="Image" class="sdg-image" (mouseenter)="addHoverEffect(goal)" (mouseleave)="removeHoverEffect(goal)">
    </div>
</div>
