* {
    direction: rtl;
}

.vision-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    margin: 20px auto;
    margin-top: 150px;
  }
  
  .image-container {
    width: 100%;
    max-width: 400px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .text-container {
    text-align: right;
    margin-top: 10px;
    font-size: 24px;
  }
  
.sdg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto;
  }
  
  .sdg-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .sdg-card:hover {
    transform: scale(1.1);
  }
  
  .sdg-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sdg-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sdg-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    transition: opacity 0.3s; /* Add a transition for opacity change */
  }
  
  .sdg-image:hover {
    opacity: 0.8; /* Reduce opacity on hover */
  }
  

  