<div class="page-container">
  <app-navbar-top></app-navbar-top>
  <app-navbar-bottom></app-navbar-bottom>

  <img />
  <div class="overlay">
    <div class="text-container" [@fadeAnimation]>
      <h1>أهلا بكم في بوابة جامعة المنوفية</h1>
      <p>منارة المعرفة في قلب الدلتا</p>
      <p></p>
      <p>في رحابنا ، اكتشف مستقبلك وامتلك مفتاح المعرفة والتميّز</p>
    </div>
  </div>
</div>

<p-divider></p-divider>

<section class="main-section">
  <h1>أحدث الاحصائيات</h1>

  <div class="table">
    <div class="colum">
      <!-- <i class="pi pi-server"></i> -->
      <p>الكليات</p>
      <div class="prg"><h5>23</h5></div>
    </div>

    <p-divider layout="vertical"></p-divider>

    <div class="colum">
      <!-- <i class="pi pi-user-edit"></i> -->
      <p>عدد الطلاب</p>
      <div class="prg"><h5>10,000+</h5></div>
      <!-- </a> -->
    </div>

    <p-divider layout="vertical"></p-divider>

    <div class="colum">
      <!-- <i class="pi pi-users"></i> -->
      <p>سنة التأسيس</p>
      <div class="prg"><h5>1976</h5></div>
    </div>

    <p-divider layout="vertical"></p-divider>

    <div class="colum">
      <!-- <i class="pi pi-tablet"></i> -->
      <p>هيئة التدريس</p>
      <div class="prg"><h5>400+</h5></div>
    </div>

    <p-divider layout="vertical"></p-divider>

    <div class="colum">
      <!-- <i class="pi pi-desktop"></i> -->
      <p>هيئة معاونة</p>
      <div class="prg"><h5>300+</h5></div>
    </div>
  </div>
</section>

<p-divider></p-divider>

<section class="news">
  <h1>أحدث الاخبار</h1>

  <div class="cards-container">
    <a routerLink="news" class="custom-card">
      <img
        src="../../assets/images/news_1.png"
        alt="Card"
        class="card-image-large"
      />
      <div class="card-content">
        <h3>جامعة المنوفية تحرز تقدما جديدا في تصنيف شنغهاي لعام ٢٠٢٣</h3>
      </div>
    </a>

    <a routerLink="/news/1" class="custom-card">
      <img
        src="../../assets/images/news_2.png"
        alt="Card"
        class="card-image-large"
      />
      <div class="card-content">
        <h3>
          رئيس جامعة المنوفية يلتقي رئيس محكمة شبين الكوم الكلية والمحامي العام
          لنيابات المنوفية
        </h3>
      </div>
    </a>

    <a routerLink="/news/7" class="custom-card">
      <img
        src="../../assets/images/news_3.png"
        alt="Card"
        class="card-image-large"
      />
      <div class="card-content">
        <h3>
          جامعة المنوفية تختتم المهرجان الثقافى وتعلن الكليات الفائزة في مسابقات
          الدورى الثقافى ومجلات الحائط والشعر
        </h3>
      </div>
    </a>
  </div>
  <p-button routerLink="./news">معرفة المزيد من الاخبار</p-button>

  
</section>

<p-divider></p-divider>

<section class="pe-section">
  <h1>القيادات الحالية للجامعة</h1>
  <div class="table">
    <div class="colum">
      <!-- <i class="pi pi-server"></i> -->
      <img
        src="../../assets/images/drSobhy.jpg"
      />
      <div class="prg">
        <h5>أ.د/ صبحي شرف</h5>
        <p>نائب رئيس الجامعة لشؤون خدمة المجتمع </p>
      </div>
    </div>

    <div class="colum">
      <img
        src="../../assets/images/drKased.png"
      />
      <div class="prg">
        <h5>أ.د/ أحمد فرج القاصد</h5>
        <p>رئيس الجامعة</p>
      </div>
      <!-- </a> -->
    </div>

    <div class="colum">
      <img
        src="../../assets/images/drhazem.jpg"
      />
      <div class="prg">
        <h5>أ.د/ حازم صالح</h5>
        <p>نائب رئيس الجامعة للدراسات العليا والبحوث</p>
      </div>
    </div>
  </div>

  
</section>
<p-divider></p-divider>

<h1>كليات الجامعة</h1>
<section class="card-container">
  <div class="card-row" *ngFor="let row of cardRows">
    <div class="circular-card" *ngFor="let card of row">
      <a [href]="card.link" target="_blank">
        <img [src]="card.image" alt="Card Image">
        <div class="message-box">{{ card.name }}</div>
      </a>
    </div>
  </div>
</section>


<app-footer></app-footer>
