<div class="details-container">
    <h2>Student Details</h2>

    <div class="detail">
        <i class="fas fa-user"></i>
        <p><strong>الاسم:</strong> {{ loggedInStudent["الاسم باللغة العربية"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-id-card"></i>
        <p><strong>الكود:</strong> {{ loggedInStudent["الكود"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-clock"></i>
        <p><strong>الساعات المسجلة:</strong> {{ loggedInStudent["الساعات المسجلة"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-award"></i>
        <p><strong>التقدير التراكمي:</strong> {{ loggedInStudent["التقدير التراكمي"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-chart-line"></i>
        <p><strong>المعدل التراكمي:</strong> {{ loggedInStudent["المعدل التراكمي"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-book"></i>
        <p><strong>الساعات المكتسبة:</strong> {{ loggedInStudent["الساعات المكتسبة"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-info-circle"></i>
        <p><strong>حالة القيد:</strong> {{ loggedInStudent["حالة القيد"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-graduation-cap"></i>
        <p><strong>البرنامج:</strong> {{ loggedInStudent["البرنامج"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-university"></i>
        <p><strong>الكلية:</strong> {{ loggedInStudent["الكلية"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-sort-numeric-up"></i>
        <p><strong>المستوى:</strong> {{ loggedInStudent["المستوى"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-clipboard-list"></i>
        <p><strong>عدد المقررات المسجلة:</strong> {{ loggedInStudent["عدد المقررات المسجلة"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-money-check-alt"></i>
        <p><strong>إجمالى الرسوم المطبقه:</strong> {{ loggedInStudent["إجمالى الرسوم المطبقه"] }}</p>
    </div>

    <div class="detail">
        <i class="fas fa-coins"></i>
        <p><strong>إجمالى المسدد:</strong> {{ loggedInStudent["إجمالى المسدد"] }}</p>
    </div>

    <button (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
    </button>
</div>
<router-outlet></router-outlet>
